{% load i18n %}
{% load static %}

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>User Login</title>
        <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
        <link rel="stylesheet"
              href="{% static 'css/cdnjs.cloudflare.com_ajax_libs_font-awesome_5.15.3_css_all.min.css' %}">
    </head>
    <body>
        <div class="center">
            <div class="container">
                <div class="text">
                    {% trans "User Login" %}
                </div>
                <form action="#" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="data">
                        <label for="username">{% trans "Username" %}</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="data">
                        <label for="password">{% trans "Password" %}</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="forgot-pass">
                        <a href="#">{% trans "Forgot password" %}</a>
                    </div>
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">{% trans "Login" %}</button>
                    </div>
                    <div class="signup-link">
                        {% trans "Don't have an account? " %} <a href="#">{% trans "Sign up"%}</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

